*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fbfdfd;
}

h1, h2{
    text-align: center;
    font-family: cursive;
    padding: 20px;
    text-decoration: underline;
}

h3{
    text-align: center;
    font-family: monospace;
}
h3:hover{
    text-decoration: underline;
}

p{
    text-align: center;
    font-family: inherit;
}
p:hover{
    font-weight: bolder;
}

img{
    width: calc(100% - 50px - 20px);
    border: 1px solid #dce0e3;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
    transition: transform 2s;
    
}

img:hover{
    border: 1px solid #1d4771;
    transform: rotate(360deg);
}
section{
    overflow: hidden;
    margin-bottom: 30px;
}

#grid-floats li:nth-child(2) p, #grid-flex li:nth-child(2) p{
    text-align: right;
}
.grid-item{
    width: calc(25% - 50px - 20px);
    min-height: 600px;
    padding: 10px;
    margin: 25px;
    box-sizing: border-box;
    list-style: none;
    border: 1px solid #1d4771;
    border-radius: 5px;
    overflow: visible;
    text-align: -webkit-match-parent;
    box-shadow: -5px -1px 40px -17px rgba(0,0,0,1);
-webkit-box-shadow: -5px -1px 40px -17px rgba(0,0,0,1);
-moz-box-shadow: -5px -1px 40px -17px rgba(0,0,0,1);
}
#grid-floats li:nth-child(1){ 
    width: calc(50% - 50px - 20px);   
}

#grid-floats li:nth-child(1) img{
    height:;
}
#grid-floats li:nth-child(n):nth-child(-n+14){
    
    float: left;
}



#grid-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:flex-start;
    overflow: hidden;
}
#grid-flex li:nth-child(1){ 
    width: calc(50% - 50px - 20px);
}

@media screen and (max-width: 1024px) and (min-width: 600px){
    #grid-floats li:nth-child(n):nth-child(-n+2){ 
        width: calc(50% - 20px - 20px);    
    }
    #grid-flex li:nth-child(n):nth-child(-n+2){ 
        width: calc(50% - 20px - 20px);
    }
    
    .grid-item{
        width: calc(33.3% - 10px - 20px);
        min-height: 470px;
        margin: 10px;
    }
   
}
    
@media screen and (max-width: 600px){
    #grid-floats li{
        clear: left;
        width: calc(100% - 50px - 20px); 
    }
    #grid-floats li:nth-child(n):nth-child(-n+2){ 
        width: calc(100% - 50px - 20px);
    }
    #grid-flex{
    display: flex;
    flex-flow: column;
    align-items:flex-start;
    }
    #grid-flex li{
        width: calc(100% - 50px - 20px); 
    }
    #grid-flex li:nth-child(n):nth-child(-n+2){ 
        width: calc(100% - 50px - 20px); 
    } 
    
}